body {
    overflow-x: hidden;

}
.global-wrapper {
    width: 100%;
}

.page-wrapper {
    display:grid;
    width: 100%;
}

.info h1 {
    color:rgb(191, 255, 0);
    font-family:'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    padding-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.info p {
    color: black;

}

.info p span {
    color: rgb(191, 255, 0);
    font-weight: 600;
}

.info img {
    width: 25vh;
    height: auto;
    align-self: center;
    margin-top: 5vh;
}

.about p span {
    color:rgb(191, 255, 0);
    font-weight: 400;
}

.product p span{
    color:rgb(62, 190, 147);
} 

.product h5 {
    color: black;
    text-shadow: 1.5px 3px rgb(191, 255, 0);

}

@media (max-width:480px) {

   .page-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
    "info"
    "page-content";
    width: 100%;
   }

   .info {
    width:100%;
    height: 75vh;
    grid-area: info;
    display: flex;
    flex-direction: column;
    margin: 0 1vh;
    padding-top: 4vh;
}

.info p {
    font-size: 2.5vh;
    font-weight: 300;
    padding-top: 5vh;
    text-align: center;
}

.info h1 {
    font-size: 8vh;
    padding-bottom: .5rem;
    margin: 0;
}

.image {
    display:flex;
    justify-content: center;
    min-height: 45vh;
}

.info img {
    min-width: 67.5vw;
    height: auto;
    align-self: center;
    margin-top: 0;
    transform: rotate(45deg);
    padding-right: 10vw;
}


.oil-container {
    width: 100%;
    grid-area: page-content;
    padding: 1rem;
    padding-top: 1.5rem;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color:rgb(191, 255, 0);
    display:flex;
   flex-direction: column;
}

.strip {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding:.75rem;
    background-color: white;
    border-radius: 25px;
}

.strip .about {
    grid-column: 1;
    grid-row: 1;
    grid-template-rows: .5fr 1fr .5fr;
    align-items: center;
    justify-items: center;
}

.about h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color:rgb(191, 255, 0);
    text-align: left;
    padding: 2vh 5vw;
}

.about p {
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2vh 2vw;
   text-align: left;
   line-height: 4vh;
   font-weight: 300;
}

.about p span {
    padding-top: 2vh;
    font-size: 3vh;
}

.about img {
    width:40vh;
    height: auto;
    padding: 1rem 0 2rem 0;
}

.strip2 {
    padding:.75rem;
    background-color: white;
    border-radius: 25px;
    z-index: 10000;
    margin-top: 3vh;
    min-height: 90vh;
}

.products h3 {
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(62, 190, 147);
    margin: 1rem 0 1.25rem 1.5rem;
    text-transform: uppercase;
    font-family:'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.products img {
    max-width: 35vw;;
    margin: 1rem 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #999;
    border-radius: 25px;
    padding: 0 1rem 3rem 1rem;
}

.product h5 {
    font-size: 2rem;
    font-family:'IBM Plex Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.product p {
    text-align: center;
    margin: .75rem;
    line-height: 4vh;
    font-weight: 300;
}

.product .click button {
    padding: .5rem 1.25rem;
    background-color: #fff;
    border: .01em solid hsl(75, 100%, 50%);
    font-size: 1.25rem;
    font-family:'Lato', sans-serif;
    line-height: 1rem;
    border-radius: 25px;
    font-weight: 300;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    margin-left: .25rem;
    transition: .5s;
}

.product .click button a {
    text-decoration: none;
    color: #333;
}

.product .click button a:active {
opacity: 50%;
color: hsl(75, 100%, 40%);
}

#shop {
    margin-left: 5vh;
    text-decoration: none;
    color: white;
}


#shop a:active {
    opacity: 50%;
}



#desktop {
    display:none;
}
}

@media (min-width:768px){
  
    .page-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "info"
        "page-content";
        width: 100%;
    }

    .info {
        width:100%;
        height: 65vh;
        grid-area: info;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    .info h1 {
        grid-column: 1;
        grid-row: 1;
        font-size: 6rem;
        font-weight: 300;
        letter-spacing: .04em;
        margin-bottom: 0;
        display: flex;
        justify-self: center;
        padding-left: 2vw;
        
    }

    .info p {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.25rem;
        text-align: left;
        line-height: 2.25rem;
        letter-spacing: .5px;
    }

    .info p span {
        font-size: 3.5vh;
        padding-top: 5vh;
    }

    .info .image {
        grid-column: 2;
        grid-row: 1/3;
    }

    .info img {
        min-width: 55vw;
        height: auto;
        display:flex;
        justify-self: center;
        align-self: center;
        margin-left: 2vw;
        padding-right: 22.5vw;
        transform: rotate(10deg);
    }


    .oil-container {
        width: 100%;
        grid-area: page-content;
        padding:2rem;
        overflow: hidden;
        background-color:rgb(191, 255, 0);
        display:flex;
        flex-direction: column;
    }

    .strip {
        padding:2.5rem 0 0 2.5rem;
        background-color: white;
        border-radius: 25px;
        z-index: 10000;
        min-height: 90vh;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr 1fr;
    }

    .about h3 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 4rem;
        color: hsl(75, 90%, 50%);
        margin: 5rem 0 2rem 1rem;
    }

    .about span {
        color: rgb(191, 255, 0);
    }
    
    .about p {
        margin: 1rem 0 3rem 1rem;
        float: left;
        font-size: 1.5rem;
        line-height: 5vh;
    }

    .about .image {
        grid-column: 2;
        grid-row:1/3;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .about img {
        max-width: 35vw;
        height: auto;
        padding-top: 5.5vh;
    }

    .strip2 {
        padding:.75rem;
        background-color: white;
        border-radius: 25px;
        z-index: 10000;
        margin-top: 3vh;
        min-height: 90vh;
    }
    
    .products h3 {
        font-size: 2.5rem;
        line-height: 3rem;
        color: rgb(62, 190, 147);
        margin: 2.5rem 0 3rem 1.5rem;
        text-transform: uppercase;
        font-family:'IBM Plex Sans', sans-serif;
        font-weight: 300;
    }
    
    .product h5 {
    font-size: 1.5rem;
    font-family:'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: .5rem;
    }
    
    .products p {
        text-align: center;
        margin: 1rem;
    }
    
    .product {
        display: grid;
        grid-template-columns: .25fr 1fr;
        grid-template-rows: .25fr .5fr .25fr;
        min-height: 60vh;
        box-shadow: 3px 3px 3px 3px #eee;
        border-radius: 25px;
        margin: 1rem;
    }

    .product .image {
        grid-column: 1;
        grid-row: 1/4;
        display:flex;
        align-items: center;
        justify-content: center;
        padding-left: 3vh;
        padding-top: 1vh;
    }

    .product img {
        max-width: 20vw;
        margin: 3vh 0 3vh 5vw;
    }

    .product h5 {
        grid-column: 2;
        grid-row: 1;
        font-size: 3rem;
        font-weight: 300;
        display:flex;
        justify-self: center;
        align-self: flex-end;
    }

    .product p {
        display:flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        grid-column: 2;
        grid-row: 2;
        padding: 0 2.5rem;
        font-size: 1.15rem;
        line-height: 4.5vh;
    }

    .product .click {
        grid-column: 2;
        grid-row: 3;
        display:flex;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        padding: 0 0 2.5rem 0;
    }
    
    .product .click button  {
        padding: .75rem 1.5rem;
        background-color: #fff;
        border: .03em solid hsl(75, 100%, 50%);
        font-size: 1.5rem;
        font-family:'Lato', sans-serif;
        line-height: 1rem;
        border-radius: 25px;
        font-weight: 300;
        cursor: pointer;
        margin-top: 1rem;
        margin-left: .25rem;
        transition: .3s;
    }

    .product .click button a {
        color: #333;
        text-decoration: none;
    }
    
    .product .click button:hover {
        opacity: 50%;
        background-color: rgb(191, 255, 0);
    }
    
    #shop {
        margin-left: 10vh;
    }
    
}
