:root {
    --space : 5px;
}

.page-wrapper {
    display:grid;
}

.title{
    margin-top: var(--space);
}


#about {
margin-top: var(--space);
background-color:white;
}

#about p {
    color:black;
}

h1 {
    font-weight: 300;
}


@media screen and (min-width:1024px) {
    
    .page-wrapper {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto auto auto;
    }

    .title {
        grid-column: 1/5;
        grid-row:1;
        background-size: cover;
        display: grid;
        grid-template-columns: 60% 40%;
        height: 67vh;
        padding-top: 2vh;
    }

    .title  #heading {
        grid-column: 1;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        padding-top: 2vh;
    }

    .title  #heading #two {
        color: hsl(160, 51%, 49%);
        padding-top: 1em;
    }


    .title .short {
        grid-column: 1;
        grid-row: 1/2;
        font-family:'IBM Plex Sans', sans-serif;
        font-size: 1.65em;
        line-height: 10vh;
        color: rgb(100,190, 149);
        margin-left:.1em;
        text-align: center;
        align-self: flex-end;
        padding: 0 5vw 10vh 5vw;
    }

    .title .image {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        grid-column: 2;
        grid-row: 1/2;
        transition: 0.4s;
    }
   
    .title .image img {
        max-height: 50vh;
        width: auto;
        padding: 0 5vh 5vw 0;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 80px;
        letter-spacing: .5px;
        padding-top: .75em;
        margin-left: .1em;
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
    }

    .title  #heading {
        display: flex;
    }

    #about {
        grid-column:1/5;
        grid-row: 2;
        display: flex;
        background-color: white;
        margin: 3rem 1em 2rem 1rem;
        border-radius: 25px;
        box-shadow: .02em .02em .02em .06em hsl(160, 51%, 49%);
        padding: 1vh 5vw;
    }

    #about p {
        font-size: 1.55rem;
        padding:1.5rem;
        text-align: center;
        font-family: 'Lato', sans-serif;
        line-height: 3.2;
    }

    #about p span {
        color: hsl(160, 51%, 50%);
        font-weight: 400;
    }

    #links {
        grid-column:1/5;
        grid-row:3;
        padding: 1rem;
        background-color: white;
        border-radius: 25px;
        z-index: 10000;
        margin-top: 2.5vh;
        min-height: 75vh;
    }

    #auto-link {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80% 20% ;
        box-shadow: .02em .01em .01em .03em hsl(160, 100%, 50%);
        border-radius: 25px;
        min-height: 90vh;
        padding: 1rem 0 3rem 0;
    }

    #auto-link .description {
        grid-column:1/3 ;
        grid-row:1;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-self: center;
        padding: 2rem 1rem;
    }

    #auto-link .description h3 {
        font-size:6em;
        font-weight: 300;
        text-align: center;
        color: hsl(160, 100%, 50%);
        margin-bottom: .1em;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    #auto-link .description p {
        font-size: 1.35em;
        color: #333;
        line-height: 2.5;
        text-align: center;
        justify-self: flex-end;
        padding-top: 1rem;
        width: 90vh;
    }

    #auto-link .description p span {
        color: hsl(160, 100%, 70%);
        font-weight: 400;
        font-size: 1.2em;
        line-height: 5vh;
    }

    #auto-link .image {
        grid-column:1 ;
        grid-row:1/3;
        display: none;
    }

    #auto-link .image img {
        height:auto;
        width:70%;
        margin: 1em;
        margin-left: 2em;
    }

    #auto-link .page-button {
        grid-column: 1/3 ;
        grid-row: 2;
        display:flex;
        align-items: center;
       align-self: center;
       justify-self: center;
    }

    #auto-link .page-button a {
        text-decoration: none;
        background-color:#fff;
        color: black;
        border: .01em solid #000;
        padding: .25em 1.25em;
        border-radius: 27px;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        transition: all ease .5s;
        font-weight: 300;
    }

    #auto-link .page-button a:hover {
        background-color: hsl(160, 100%, 75%);
    }

    #tools-link {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80% 20% ;
        box-shadow: .02em .01em .01em .05em hsl(75, 100%, 50%);
        border-radius: 25px;
        min-height: 85vh;
        margin-top: 10vh;
        padding: 1rem 0 3rem 0;
    }

    #tools-link .image {
        grid-column:3 ;
        grid-row:1/3;
        display: none;
    }

    #tools-link .description {
        grid-column:1/3 ;
        grid-row:1;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        align-items: center;
        padding:1em;
    }

    #tools-link .description h3 {
        font-size:6em;
        font-weight: 300;
        color: #333;
        margin-bottom: .25em;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    #tools-link .description h3 span {
        color:hsl(75, 100%, 50%);
    }

    #tools-link .description p {
        font-size: 1.25em;
        font-weight: 300;
        text-align: center;;
        color: #333;
        line-height: 2.5;
        justify-self: flex-end;
        padding-top: 1rem;
    }

    #tools-link .description p span {
        color: hsl(75, 100%, 70%);
        font-weight: 400;
        font-size: 1.2em;
        line-height: 5vh;
    }

    #tools-link .page-button {
        grid-column: 1/3 ;
        grid-row: 2;
        display:flex;
        align-items: center;
        align-self: center;
       justify-self: center;
    }

    #tools-link .image img {
        margin-top: 2em;
        width:100%;
    }

    #tools-link .page-button a {
        text-decoration: none;
        background-color:#fff;
        color: black;
        border: .01em solid #000;
        padding: .25em 1.25em;
        border-radius: 27px;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        transition: all ease .5s;
    }

    #tools-link .page-button a:hover {
        background-color: hsl(75, 100%, 75%);
    }

    #you-link {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80% 20% ;
        box-shadow: .02em .01em .01em .05em hsl(300, 100%, 50%);
        border-radius: 25px;
        min-height: 85vh;
        margin-top: 10vh;
        padding: 1rem 0 3rem 0;
    }

    #you-link .image {
        grid-column:1 ;
        grid-row:1/3;
        display: none;
        align-items: center;
    }

    #you-link .description {
        grid-column: 1/3 ;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;
        padding:1em;
    }

    #you-link .description h3 {
        font-size:6em;
        font-weight: 300;
        color: #333;
        margin-bottom: .25em;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .fa-check {
        color: hsl(300, 100%, 50%);
        -webkit-text-stroke: .1em white;
    }
    }
    #you-link .description p {
        font-size: 1.25em;
        color: #333;
        line-height: 2.5;
        text-align: center;
        justify-self: flex-end;
        padding-top: 1rem;
    }

    #you-link .page-button {
        grid-column: 1/3 ;
        grid-row: 2;
        display:flex;
        align-items: center;
       align-self: center;
       justify-self: center;
    }

    #you-link .page-button a {
        text-decoration: none;
        background-color:#fff;
        color: black;
        border: .01em solid #000;
        padding: .25em 1.25em;
        border-radius: 27px;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        transition: all ease .5s;
    }

    #you-link .page-button a:hover {
        background-color: hsl(300, 100%, 75%);
    }

    #you-link a {
        text-decoration: none;
    }

    #you-link .description p span {
        color:magenta;
    }

    #footer-wrapper {
        margin-top:.5rem;
    }


    h1 {
        font-size: 6.5rem;
        line-height: 80px;
        letter-spacing: 2px;
        font-family: 'IBM Plex Sans', sans-serif;
    }


    #app-link .image #icon {
        display:none;
    }
}

@media only screen and (max-width:480px) {

    .page-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto ;
    }

    .title {
        grid-column: 1;
        grid-row:1/2;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-start;
        height: 80vh;
        padding-top: 3.75rem;
    }

    h1 {
        font-size:  2.75rem;
        line-height: 60px;
        letter-spacing: .5px;
        margin-left: .1em;
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
    }

    .title .short {
        font-family:'Lato', sans-serif;
        font-size:1em;
        font-weight: 300;
        line-height: 5vh;
        color: rgb(62, 190, 147);
        margin-left:.1em;
        text-align: center;
        padding: 1.5em 2em;
    }

    .title .image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title .image img {
        max-height: 30vh;
        width: auto;
    }

    #one {
        text-align: center;
    }

    #two {
        color:  hsl(160, 51%, 49%);
    }

    #about {
        grid-column:1;
        grid-row: 2;
        background-color: white;
        display: flex;
        margin:0 1rem 2rem 1rem;
        margin-top:0;
        border-radius: 25px;
        box-shadow: .01em .01em .01em .03em hsl(160, 51%, 50%);
        padding: 1vh 1vw;
    }

    #about p {
        font-size:1.105rem;
        font-weight: 300;
        padding:1rem;
        line-height: 2.25;
        color: #333;
    }

    #links {
        grid-column:1;
        grid-row:3;
        padding: 1rem;
        background-color: white;
        border-radius: 25px;
        margin-top: 2.5vh;
        min-height: 90vh;
    }

    #auto-link {
        display:grid;
        grid-template-rows: 80% 20%;
        box-shadow: .01em .01em .01em .04em hsl(160, 100%, 50%);
        border-radius: 25px;
        min-height: 85vh;
        padding-bottom: .75rem;
    }

   /* #auto-link .image {
        padding-top: 2em;
    }

    #auto-link .image img {
        margin-top: 1em;
        width:80%;
        margin-left: 2em;
    } */


    #auto-link .description {
        grid-row: 1/2;
        padding: 1em 1em 0 1em;
        margin-top: 5vh;
    }

    #auto-link .description h3 {
        font-size: 2.45rem;
        color: hsl(160, 100%, 50%);
        margin-bottom: 1.5rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }

    #auto-link .description p {
        font-size: .95rem;
        font-weight: 300;
        color: #333;
        text-align: center;
        line-height: 2.5;
        padding-top: .75rem;
    }

    #auto-link .description p span {
        color: hsl(160, 100%, 70%);
        font-weight: 400;
    }

    #auto-link .page-button{
        display:flex;
        justify-content: center;
        align-items: center;
        grid-row: 3;
    }

    #auto-link .page-button a {
        text-decoration: none;
        background-color: #fff;
        color: #000;
        border: .01em solid #000;
        padding: .35em 1em;
        border-radius: 27px;
        text-align: center;
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        margin: .75em;
        text-transform: uppercase;
        transition: all ease .2s;
    }

    #auto-link .page-button a:active {
        border-color:hsl(160, 100%, 75%);
    }

    #tools-link {
        display:grid;
        grid-template-rows: 80% 20%;
        box-shadow: .01em .01em .01em .04em hsl(75, 100%, 50%);
        border-radius: 25px;
        min-height: 75vh;
        margin-top: 9.5vh;
        padding-bottom: .75rem;
    }

    #tools-link .description {
        grid-row: 1/2;
        padding: 1em 1.15em 0 1.15em;
        margin-top: 5vh;
    }

    #tools-link .image img {
        margin-top: 1em;
        width:80%;
        margin-left: 2em;
        display: none;
    }

    #tools-link .description h3 {
        font-size: 2.45rem;
        font-weight: 300;
        color: #333;
        margin-bottom: 1.5rem;
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

    #tools-link .description h3 span {
        color: hsl(75, 100%, 50%);
    }
   
    #tools-link .description p {
        font-size: .95rem;
        font-weight: 300;
        color: #333;
        text-align: center;
        line-height: 2.5;
        padding-top: .75rem;
    }

    #tools-link .description p span {
        color: hsl(75, 100%, 50%);
        font-weight: 400;
    }

    #tools-link .page-button{
        display:flex;
        justify-content: center;
        align-items: center;
        grid-row: 3;
    }

    #tools-link .page-button a {
        text-decoration: none;
        background-color: #fff;
        color: #000;
        border: .01em solid #000;
        padding: .35em 1em;
        border-radius: 27px;
        text-align: center;
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        margin: .75em;
        text-transform: uppercase;
        transition: all ease .2s;
    }

    #tools-link .page-button a:active {
        border-color:hsl(75, 100%, 75%);
    }

    #you-link {
        display:grid;
        grid-template-rows: 80% 20%;
        box-shadow: .01em .01em .01em .03em hsl(300, 100%, 50%);
        border-radius: 25px;
        min-height: 80vh;
        margin-top: 9.5vh;
        padding-bottom: .75rem;
    }

    #you-link .description {
        grid-row: 1/2;
        padding: 1em 1em 0 1em;
        margin-top: 5vh;
    }


    #you-link .description h3 {
        font-size: 3rem;
        font-weight: 300;
        color: #333;
        margin-bottom: 1.5rem;
        font-family: 'IBM Plex Sans', sans-serif;
        text-align: center;
    }

    #you-link a {
        text-decoration: none;
    }

    #you-link .image .fa {
        font-size: 15em;
        color:magenta;
    }

    #you-link .description h3 span {
        color:magenta;
        -webkit-text-stroke: .1em white;
    }

    #you-link .description p {
        font-size: .95rem;
        font-weight: 300;
        color: #333;
        text-align: center;
        line-height: 2.5;
        padding-top: .75rem;
    }

    #you-link .description p span {
        color:magenta;
    }

    #you-link .page-button{
        display:flex;
        justify-content: center;
        align-items: center;
        grid-row: 3;
    }

    #you-link .page-button a {
        text-decoration: none;
        background-color: #fff;
        color: #000;
        border: .01em solid #000;
        padding: .35em 1em;
        border-radius: 27px;
        text-align: center;
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        margin: .75em;
        text-transform: uppercase;
        transition: all ease .2s;
    }

    #you-link .page-button a:active {
        border-color:hsl(300, 100%, 75%);
    }

    #footer-wrapper {
        margin-top:.5rem;
    }

    .description .additional {
        display: none;
    }

    #app-link .image #icon-desktop {
        display:none;
    }


}